{% extends 'base.html.twig' %}

{% block title %}Edit Sneaker{% endblock %}

{% block body %}
    <h1>Edit Sneaker</h1>

    {{ include('sneaker_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sneaker_crud_index') }}">back to list</a>

    {{ include('sneaker_crud/_delete_form.html.twig') }}
{% endblock %}
