{% extends 'base.html.twig' %}

{% block title %}New Sneaker{% endblock %}

{% block body %}
    <h1>Create new Sneaker</h1>

    {{ include('sneaker_crud/_form.html.twig') }}

    <a href="{{ path('app_sneaker_crud_index') }}">back to list</a>
{% endblock %}
